
<div class="dialog-header">
    <p style="padding-left: 80px;font-weight: bold;font-size: small;">Team : {{team}} <br> {{from | date:'dd-MMM-yy'}} to {{to | date:'dd-MMM-yy'}}</p>
    <img class="round-img" src="{{playerimage}}" />
    <button mat-icon-button class="close-btn" mat-dialog-close>
      ✕
    </button>
</div>

<div class="stats-table">

    <!-- Header -->
    <div class="stats-header">
      <div>{{header1}}</div>
      <div>{{header2}}</div>
      <div>{{header3}}</div>
      <div>{{header4}}</div>
      <div>{{header5}}</div>
    </div>
  
    <!-- Rows -->
    <div class="stats-body">
        <div class="stats-row" *ngFor="let item of matchStats">
            <div>{{ item.column1 | date:'dd-MMM-yy' }}</div>
            <div class="runs">{{ item.column2 }}</div>
            <div>{{ item.column3 }}</div>
            <div>{{ item.column4 }}</div>
            <div>{{ item.column5 }}</div>
        </div>
    </div>
  
  </div>
