.full-width {
    width: 100%;
  }
  table {
    width: 100%;  
    max-height: 300px;
    overflow-y: auto;
  }
  th {
    background: #203a43;
    color: #eee;
    font-weight: bold;

    position: sticky;
    top: 0;
    z-index: 2;
  }

  table th:first-child {
    border-top-left-radius: 8px;
  }
  table th:last-child {
    border-top-right-radius: 8px;
  }
  
  .my-table {
    border-collapse: separate;   /* 👈 REQUIRED */
    border-spacing: 0;
  }

  tr.mat-header-row {
    height: 36px;
 }

 th.mat-header-cell {
  text-align: center;
}
  
  td {
    padding: 8px;
    text-align: center;
  }
  .dialog-header {
    position: relative;   /* 👈 IMPORTANT */
    padding: 5px 10px 5px 5px;
    border-bottom: 1px solid #eee;
  }
  
  .close-btn {
    position: absolute;
    top: -2px;
    right: -10px;
  }

  .round-img {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;   /* 👈 IMPORTANT */
    top: -11px;
  }

  .popup-overlay {
    border: 2px solid #1976d2;   /* 👈 Border */
    border-radius: 8px;
    background: #fff;
    padding: 16px;
  }
