
  .dialog-header {
    position: relative;   /* 👈 IMPORTANT */
    padding: 5px 10px 5px 5px;
    border-bottom: 1px solid #eee;
  }
  
  .close-btn {
    position: absolute;
    top: -2px;
    right: -10px;
  }

  .round-img {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;   /* 👈 IMPORTANT */
    top: -11px;
  }

  /* Table container */
.mat-table {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
}

/* Header row */
.mat-header-row {
  background: #1f3b44;
  height: 30px;
}

/* Header cells */
.mat-header-cell {
  color: #ffffff;
  font-weight: 600;
  font-size: small;
  text-align: center;
}

/* Round header corners */
.mat-header-cell:first-child {
  border-top-left-radius: 8px;
}

.mat-header-cell:last-child {
  border-top-right-radius: 8px;
}

/* Data rows */
.mat-row {
  font-size: small;
}

/* Data cells */
.mat-cell {
  text-align: center;
  color: #333;
}

/* Runs column bold */
.mat-cell:nth-child(2) {
  font-weight: 500;
}

/* Hover effect */
.mat-row:hover {
  background: #f7f9fa;
}

/* Optional scrollbar for long data */
.table-wrapper {
  max-height: 600px;
  border: 2px solid #043d63;
  border-radius: 6px;
  overflow: hidden; /* IMPORTANT */
  display: block;
}

.table-wrapper mat-paginator {
  border-top: 1px solid #a1a4a7;
  margin-left: -10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 2px;
}
td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-right: 2px;
}
tr.mat-footer-row, tr.mat-row {
  height: 38px;
}
.mat-cell, .mat-footer-cell {
  font-size: small; 
}

.mat-column-Date { width: 25%; }
.mat-column-O-M-R-W { width: 25%; }

.outlined-table {
  border: 1px solid #a1a4a7;
  border-radius: 6px;
  overflow: hidden;
}

.outlined-table th,
.outlined-table td {
  border-bottom: 1px solid #a1a4a7;
}
